In [1]:
print('hello waqas')

hello waqas

In [1]:
name = 122.5

In [2]:
type('waqas')

str

In [4]:
type(3.1423)

float

In [11]:
name = "waqas"

In [12]:
print(name)

waqas

In [13]:
name[0]

'w'

In [14]:
name[0]+name[1]

'wa'

In [15]:
name*4    # string can be Xing by integers

'waqaswaqaswaqaswaqas'

In [16]:
name = 'w'

In [17]:
name

'w'

In [18]:
+name

TypeError: bad operand type for unary +: 'str'

In [19]:
++name

TypeError: bad operand type for unary +: 'str'

In [20]:
print(++name)

TypeError: bad operand type for unary +: 'str'

In [21]:
name[1]

IndexError: string index out of range

In [22]:
name = 'pakistan is the one of the most important country'

In [23]:
name[0:4]

'paki'

In [7]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'

In [9]:
alphabet[::-3]

'zwtqnkheb'

In [10]:
lis = ['pakistan','southafrica','westindes','srilanka','bangaldesh','afghanistan']

In [11]:
lis[3] = 'india'

In [12]:
lis

['pakistan', 'southafrica', 'westindes', 'india', 'bangaldesh', 'afghanistan']

In [13]:
lis.append('india')

In [14]:
lis

['pakistan',
 'southafrica',
 'westindes',
 'india',
 'bangaldesh',
 'afghanistan',
 'india']

In [5]:
lis = ['pakistan','india','afganistan','srilanka','bangladesh']
for i in range(len(lis)):
     print(i, lis[i])

0 pakistan
1 india
2 afganistan
3 srilanka
4 bangladesh

In [24]:
for i in range(11):
    for i2 in range(i):
        if (i2 == i):
            print(i, i2)
       # else:
       #     print("\n")

In [29]:
for i in range(11):
    for i2 in range(i):
        if (i == i2): print(i)

In [30]:
fib

NameError: name 'fib' is not defined

In [33]:

prompt = input()
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

y

In [35]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [37]:
parrot("d",'d','d')

-- This parrot wouldn't d if you put d volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's d !

In [45]:
for i in range(5):
    userinput = input()
    dic = {i,userinput}

r
r
r
r
r

In [46]:
dic

{4, 'r'}

In [47]:
16/15//16

0.0

In [57]:
print('{0:}'.format(1/3))

0.3333333333333333

In [58]:
not(10<20) and not(10>30)

False

In [60]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [107]:
lis = ['h', 'e', 'l', 'l', 'o']
lis2 = ['i','j','k']
#lis.extend('p')
lis.sort()

In [108]:
lis

['e', 'h', 'l', 'l', 'o']

In [4]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]

In [5]:
names2[0] = 'Alice'
names3[1] = 'Bob'

In [6]:
sum = 0
for ls in (names1, names2, names3):
if ls[0] == 'Alice':
     sum += 1
if ls[1] == 'Bob':
      sum += 10

IndentationError: expected an indented block (<ipython-input-6-1ca0c2ff9c96>, line 3)

In [14]:
names1.shuffle(names2)

AttributeError: 'list' object has no attribute 'shuffle'

In [9]:
lis = [2, 33, 222, 14, 25]

In [13]:
lis[:-1]

[2, 33, 222, 14]

In [15]:
lis[-1]

25

In [22]:
lis[-1],[-1]

(25, [-1])

In [23]:
name = ['a','b','c','d']
name2 = ['1','2','3','4']
for i in (name,name2):
    print(i)

['a', 'b', 'c', 'd']
['1', '2', '3', '4']

In [24]:
name[:]

['a', 'b', 'c', 'd']

In [64]:
name3 = [3,5,6,7,5]
name4 = [23,25,26,37,25]   # in list greather than or less operation only type value operaton 
name4 > name3

app = name3.append([3,8])
print(name3,"\n",app)

[3, 5, 6, 7, 5, [3, 8]]
 None

In [65]:
name3

[3, 5, 6, 7, 5, [3, 8]]

In [68]:
lis = [print(j) for i in range(2,8) for j in range(i*2,50,i)]

4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
8
12
16
20
24
28
32
36
40
44
48
10
15
20
25
30
35
40
45
12
18
24
30
36
42
48
14
21
28
35
42
49

In [27]:
for i in (name):
    print(i*2)

2
6
8
10
12

In [38]:
names = ['waqas ahmed','syed ahmed ali ', 'aqib sohail ','ammar sohail']

In [41]:
print(names[0][1])

a

In [57]:
numbers = [1,2,3,4]

In [58]:
numbers.append([2,3,4])
print(len(numbers))

5

In [59]:
numbers

[1, 2, 3, 4, [2, 3, 4]]

In [69]:
word1="Apple" 
word2="Apple" 
list1=[1,2,3] 
list2=[1,2,3] 
print(word1 is word2) 
print(list1 is list2)

True
False

In [73]:
w = 'p','j'
a = 'p'
print(w is a)

False

In [76]:
a=list((45,)*4) 
print((45)*4) 
print(a)

180
[45, 45, 45, 45]

In [82]:
lis = list('pakistan')

TypeError: list() takes at most 1 argument (2 given)

In [81]:
lis

['p', 'a', 'k', 'i', 's', 't', 'a', 'n']

In [83]:
a = [1,2,3]
b = a.copy()

In [84]:
b

[1, 2, 3]

In [85]:
a

[1, 2, 3]

In [86]:
b is a

False

In [9]:
dic = {"id": 'EP-1849132', 'karachi':555}

In [10]:
dic.keys()

dict_keys(['id', 'karachi'])

In [11]:
uip = input("Enter Value")
for i in (uip):
    dic = {i}

Enter Valuer

In [29]:
try:
    input1 = float(input("Enter First Number "))
    input2 = float(input("Enter First Number "))
    operation = input("Enter Mathmatical operation you want to performed ") 
    if operation == '+':
            print(input1+input2)
    elif operation == '-':
            print(input1-input2)
    elif operation == '*':
            print(input1*input2)
    elif operation == '/':
            print(input1/input2)
    else: print("You Enter Wrong Opeartion")
except Exception as e:
    print("Handle Error == " +str(e))

Enter First Number 8
Enter First Number 9
Enter Mathmatical operation you want to performed t
You Enter Wrong Opeartion